body {
  font-family: Arial, sans-serif;
  background-image: url(https://www.pexels.com/photo/plaster-on-a-blue-wall-4710241/);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  color: #003366;
  margin: 0;
  padding: 0;
}

header {
  background-color: #0059b3;
  color: white;
  text-align: center;
  padding: 20px 0;
}

main {
  max-width: 700px;
  margin: 30px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.question {
  margin-bottom: 15px;
}

button {
  background-color: #0073e6;
  color: white;
  border: none;
  padding: 12px 25px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #005bb5;
}

#result {
  margin-top: 20px;
  font-weight: bold;
  font-size: 18px;
}